/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* BODY */
body {
  background: #fff;
  color: #333;
  line-height: 1.6;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: fit-content;
  padding: 20px 30px;
  font-weight: 200;
  background-color: #053cf1;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

nav {
  display: flex;
  gap: 20px;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  
}

nav a:hover {
  color: #007bff;
}






/* HERO */
.hero {
  text-align: center;
  padding: 150px 20px;
  background-image: url('marvel2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  max-width: 600px;
  margin: 0 auto 20px;
  color: turquoise;
}

.hero button {
  background: white;
  color: #007bff;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* PRODUCTS */
.products {
  background: #f9f9f9;
  padding: 50px 20px;
  text-align: center;
}

.product-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.product-card {
  width: 250px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  text-align: center;
  background: white;
}

.product-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

/* BLOG */
.blog {
  background: #f9f9f9;
  padding: 50px 20px;
  text-align: center;
}

.blog-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.blog .post {
  width: 250px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  text-align: center;
  background: white;
}

.blog .post img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

/* CONTACT */
.contact {
  padding: 50px 20px;
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

form input, form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: #3112e2;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  max-height: fit-content;
}
